FLASK_ENV=development # production
BACKEND_URL=enter_your_backend_url_here
PORT=your_port_here
ADMIN_ID=your_unique_admin_id_here

# DATABASE_URL=enter_your_database_url_here # uncomment it when you want to deploy to a postgres server

FLASK_SECRET_KEY=enter_your_flask_secret_key_here

JWT_SECRET_KEY=enter_your_jwt_secret_key_here
JWT_ACCESS_TOKEN_EXPIRES=enter_your_jwt_access_token_lifetime_here
JWT_REFRESH_TOKEN_EXPIRES=enter_your_jwt_refresh_token_lifetime_here

SQLALCHEMY_DATABASE_URI=enter_your_local_sqlalchemy_database_uri_here
SQLALCHEMY_TRACK_MODIFICATIONS=False
